*{
    margin: 0;
    box-sizing: border-box;
    padding: 5px;
}
.header{
height: 100px;
display: flex;
justify-content: space-between;
background-color: rgba(250, 76, 53, 0.814);
padding-left: 20px;
position: relative;

}
.logo img {
    height: 100%;
    width: 90px;
    border-radius: 90%;
}
.header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header ul li a{
    text-decoration: none;
    background-color: red;
    border-radius: 15%;
    color: white;
    transition: transform 0.3s ease;
}
.header ul li a:hover{
    color: black;
    background-color: cyan;
    transform: translateY(-5px);
}
.profile{
    background-color: antiquewhite;
}
.profile-head{
    color: black;
    background-color: red;
    border-color: black;
    border-radius: 10%;
}
.profile-body {
    color: yellowgreen;
}