*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container {
    background-color: antiquewhite;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.logo img {
    height: 100%;
    width:80px;
    border-radius: 70%;
}
.navlink {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.navlink li a {
    text-decoration: none;
    color: brown;
    cursor: pointer;
}
.navlink li a:hover {
    color:#00ff6a;
}
.navlink button {
    color: rgb(244, 240, 240);
    background-color:#ff0000;
    border: none;
    padding:6px;
    margin-right: 10px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3 ease;
    
}

.navlink button:hover {
    background-color: #00b32a;
}

/*home body part design*/
body {
    padding: 3%;
}
h2{
    color: #ff0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.hero {
background-image: url('/Blood transfusing/V-project/Images/cover1.jpg');
background-size: cover;
background-position: center;
height: 40vh;
width: 100%;
}
.cover{
    display: grid;
    place-items: center;
    padding: 5rem 1rem;
}
.cover p{
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    max-width: 700px;
    color: #ffffff;

}
.cover-button button{
    background-color: #ff2200;
    padding:0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 10%;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}
.cover-button button:hover{
    background-color: aqua;
    color: black;
}
@media(max-width:768px){
    h2{
        font-size: 1.5rem;
    }
    .cover{
        padding: 2rem 1rem;
    }
    .cover p{
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}


.cover-2{
    justify-items: center;
    padding: 100px;
    background-color: antiquewhite;
}
.container-body{
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 20px;
}
.body-content {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}
.body-content > div {
    flex:1;
    margin: 10px;
    padding:10px;
    color:black;
    background-color: #ff6464;
   box-shadow: 0 4px 10px rgba(214, 6, 6, 0.432);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;

}
.body-content > div:hover {
  transform: translateY(-5px); 
}

.donate-eligible, .donate-eligible h2 {
    background-color: antiquewhite;
    justify-content: space-around;
    display: flex;
    padding: 10px;
}
.donate-eligible > div{
    flex:1;
    box-shadow: 0 4px 10px #373a38be;
    padding: 30px;
    border-radius: 10px;
    margin-block: 5px;
    row-gap: 10px;

    transition: transform 0.3s ease;
}
.donate-eligible > div:hover{
    transform: translateY(-6px);
}
.n li {
    font-size: 17px;
    font-weight: bold;
    list-style: none;
}
.eligible ul li {
    list-style:square;
}
.eligible button {
    color: rgb(19, 17, 17);
    border-color: red;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    align-self: center;
    transition: transform 0.3s ease;
}
.eligible button:hover{
    transform: translatex(-5px);
    background-color: #00ff6a;
}
.need {
    text-align: center;
    padding: 50px;
    
}
.need button, .donation-center button {
    color: white;
    background-color: #ff0000;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    margin: 30px;

}

.need button:hover, .donation-center button:hover {
    background-color: aqua;
    color: black;
}

.donation-center {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

/*table design*/
/* Button styling */
button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #d32f2f;
}

 

/*footer section*/
footer {
    background-color: rgb(182, 243, 69);
    align-items: center;
    padding: 10px 20px 1px 20px;
 }
 .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
  .quicklinks ul li, a {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    padding: 0px 3px;
    font-weight: 500;
    color: black;
 }
.quicklinks ul li a:hover {
        color: red;
        transition: 0.3s;
    }
.contact ul li {
    list-style: none;

}

.follow ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-top:3px ;
}
.follow ul li a {
    font-size: 25px;
}
.follow ul li #facebook {
    color: rgb(14, 142, 255);
}
.follow ul li #instagram {
    color: rgb(253, 59, 137);
}
.follow ul li #youtube {
    color: rgb(255, 0, 0);
}
.rights{
    background-color: rgb(94, 210, 62);
    text-align: center;
    margin: 10px;
    padding: 2px;
}












@media (width: 768px){
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .navlinks.active {
        display: flex;
    }   
    .material-icons {
        display: flex;
    }
.navlinks {
        display: none;
        flex-direction: column;
        gap: 10px;
    }
}

/*Registration & Login form style*/
.container-form {
    align-content: center;
    border: 4px solid black;
    background-color: aqua;
    margin: 40px;
    border-radius: 5%;
}
.form-header {
    text-align: center;
    margin-top: 10px;
    background-color: greenyellow;
    font-size: 30px;
    padding: 3px;
    border-radius: 12px;
}
.form-body {
    margin: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.required {
    color: red;
}
.gender {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.form-body label {
    padding: 3px;
}
.form-body input {
    padding: 6px;
}
.form-body button {
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 5px;
    padding: 8px;
}
.form-body button:hover {
    background-color: #00ff6a;
}
.form-body a {
    text-align: center;
    text-decoration: none;
}